

<header class="main">
  <div class="main__container">
    <div class="main__button main">
      <i class="fa-solid fa-arrow-left-long main__button--left"></i>
      <i class="fa-solid fa-arrow-right-long main__button--right"></i>
    </div>
    <div class="main__search">
      <!-- <mat-form-field class="main__search--field full-width" appearance="outline" hideRequiredMarker>
          <i class="fa-solid fa-magnifying-glass"></i>
          <mat-label>Tìm kiếm bài hát, nghệ sĩ</mat-label>
          <input type="text" class="main__search--input" name="search" matInput placeholder="">
      </mat-form-field> -->
      Web Mp3 Demo
    </div>
    <div class="main__box">
      <div class="main__button main__option">
        <i class="fa-solid fa-gear"></i>
      </div>
      <div class="main__login">Đăng nhập</div>
    </div>
  </div>



</header>

