<section class="main">
  <div class="control">
    <div class=" a-2" (click)="doClickUndo.emit()">
        <i class="{{isUndoActive}} control__undo fas fa-undo"></i>
    </div>


    <div class="control__backward a-2" (click)="doClickBackward.emit()">
        <div class="control__prev">
            <i class="fas fa-step-backward"></i>
        </div>
    </div>

    <div class="control__toggle a-2"  (click)="doClickPlay.emit()">
        <div class="control__wrap">
            <div class="control__toggle--play">
                <i [class]="controlToggle"></i>
            </div>
        </div>
    </div>

    <div class="control__forward a-2" (click)="doClickNext.emit()">
        <div class="control__next">
          <i class="fas fa-step-forward"></i>
        </div>
    </div>


    <div class=" a-2 " (click)="doClickRandom.emit()">
        <i class="{{isRandomActive}} control__random fas fa-random"></i>
    </div>

  </div>

  <input
  type="range"
  class="progress"
  id="progress"
  name="progress"
  [value]="progress"
  [(ngModel)]="progress"
  step="0.1"
  (click)="doClickProgress.emit()"
  (click)="onClickProgress()"
  >



  <div class="" style="color: #fff; font-size: 20px;">{{progress}}</div>
  <audio src="" id="audio"></audio>

</section>
