html{
  /* 16px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0px;
  font-family: Nunito;
}

:root{
  --main-background: #26023A;
}
